<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleWindowsApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SampleWindowsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleWindowsApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SampleWindowsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SampleWindowsApp1.My.MySettings.KoshowConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Koshow;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SampleKey1" value="abc" />
    <add key="SampleKey2" value="123" />
    <add key="SampleKey3" value="AAAA" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <SampleWindowsApp1.My.MySettings>
      <setting name="UserTest1" serializeAs="String">
        <value>ユーザー用項目</value>
      </setting>
      <setting name="UserTest2" serializeAs="String">
        <value>111</value>
      </setting>
    </SampleWindowsApp1.My.MySettings>
    <SampleWindowsApp1.Settings1>
      <setting name="UserTest1" serializeAs="String">
        <value>ユーザー用項目</value>
      </setting>
      <setting name="UserTest2" serializeAs="String">
        <value>111</value>
      </setting>
    </SampleWindowsApp1.Settings1>
  </userSettings>
  <applicationSettings>
    <SampleWindowsApp1.My.MySettings>
      <setting name="AppTest1" serializeAs="String">
        <value>アプリ用項目</value>
      </setting>
      <setting name="AppTest2" serializeAs="String">
        <value>222</value>
      </setting>
      <setting name="TestTest" serializeAs="String">
        <value>aaaaa</value>
      </setting>
    </SampleWindowsApp1.My.MySettings>
    <SampleWindowsApp1.Settings1>
      <setting name="AppTest1" serializeAs="String">
        <value>アプリ用項目</value>
      </setting>
      <setting name="AppTest2" serializeAs="String">
        <value>222</value>
      </setting>
    </SampleWindowsApp1.Settings1>
  </applicationSettings>
</configuration>